src/main/resources/qct.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QALD5">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Query">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="NLquery"/>
              <xs:element type="xs:string" name="Keywords"/>
              <xs:element type="xs:string" name="QCT"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>